.center-login-from{
	    width: 500px;
	    margin: 0 auto;
}
.top-20{
	margin-top: 20%;
}
.top-10{
	margin-top: 10%;
}
.float-left{
	float:left;
}
.width-200px{
	width:200px;
}
.margin-30px{
	margin: 30px;
}
.margin-5px{
	margin:5px;
}